<div class="choice">
 <ul>
  <h3>1つのPartにつき<span>最大20問</span>あります</h3>
  <li><%= link_to 'Part1', :controller => "quizzes", :action => "tirionea_1" %></li><br>
  <li><%= link_to 'Part2', :controller => "quizzes", :action => "tirionea_2" %></li><br>
  <li><%= link_to 'Part3', :controller => "quizzes", :action => "tirionea_3" %></li><br>
  <li><%= link_to 'Part4', :controller => "quizzes", :action => "tirionea_4" %></li><br>
  <li><%= link_to 'Part5', :controller => "quizzes", :action => "tirionea_5" %></li><br>
 </ul> 
</div> 

<%= link_to 'ページトップに戻る', :controller => "quizzes", :action => "tirionea_top" %>